// CANVAS COLOUR VARIABLES
// PULLED FROM /app/stylesheets/base/_variables

$use_high_contrast: false;

$canvas-primary:                  #0099e0 !default; // light blue
@if $use_high_contrast { $canvas-primary: #0073ac; }

$canvas-secondary:                #5b6c79 !default; // dark blue
@if $use_high_contrast { $canvas-secondary: #343c44; }

$canvas-success:                  #00ad18; // green
@if $use_high_contrast { $canvas-success: #008a14; }

$canvas-neutral:                  hsl(0,0,90%);

$canvas-action:                   #ba3fa5; // magenta
@if $use_high_contrast { $canvas-action: #a23891; }

$canvas-danger:                   #ad393a; // red
@if $use_high_contrast { $canvas-danger: #a03536; }

$canvas-alert:                    #c48506; // gold
@if $use_high_contrast { $canvas-alert: #9e6b05; }

$canvas-light:                    #fff; // white

$canvas-dark:                     #333;

//==================
// Layout Variables
//==================
$right_side_width:          286px;
$right_side_margin:         13px;
$left_side_width:           175px;
$min_main_width:            510px;
$max_main_width:            1100px;
$ic-sp:                     12px;
$ic-border-radius:          $ic-sp/2;
$spacing-width:             20px; // TODO - would be nice to phase this one out for $ic-sp
$borderRadius:              4px;
$contentBoxPadding:         8px;


//=====================
// Global border colors
//=====================

$ic-border-color:         $canvas-neutral;
// If it's a light border, it should be this color.
$ic-border-light:         darken($canvas-neutral, 6);
// If it's a dark border, it should be this color.
$ic-border-dark:          darken($canvas-neutral, 23);
