#main {
  max-width: none;
}

.canvas_spaces {
  padding: 25px 35px 55px 35px;

  h1 {
    margin-top: 0;
  }

  fieldset legend {
    font-size: 1.25em;
  }

  .ic-Form-actions button {
    margin-left: 5px;
  }

  .header-bar {
    padding: 0;
  }

}

@import 'tagsinput';
@import 'space_tile';
